{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <h3> {{book[0].getCategoryBook() }}</h3><br>
    {% for values in book %}
        <a href={{ path('onebook', {id: values.id}) }}>{{values.name}}</a>
        <img style="width: 40px; height: 60px" src="./Photo/{{values.getPhoto()}}">
        {% if (values.sale!=null) %}
            sale {{ values.sale }}{{ values.price  }}
        {% else %}
            {{ values.price }}
        {% endif %}

        <br>
    {% endfor %}

    {% for i in 1..count %}

        <a href={{ path(  book[0].getCategoryBook(), {id: i}) }}>{{ i }}</a>
    {% endfor %}

    <h3> Sale</h3><br>
    {% for values in book %}
        <a href={{ path('onebook', {id: values.id}) }}>{{values.name}}</a>
            <img style="width: 40px; height: 60px" src="./Photo/{{values.getPhoto()}}">

            sale {{ values.sale }}{{ values.price  }}

            <br>

    {% endfor %}
{% endblock %}
{% block title %}
    form test
{% endblock %}