{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    {% for values in books %}
        <a href={{ path('onebook', {id: values.id}) }}>{{values.name}}</a>
        <img style="width: 40px; height: 60px" src="./Photo/{{values.getPhoto()}}">
        {% if (values.sale!=null) %}
            sale {{ values.sale }}{{ values.price  }}
        {% else %}
            {{ values.price }}
        {% endif %}
        <br>
    {% endfor %}
    {% for i in 1..count %}
        <a href={{ path( books[0].getCategoryBook(), {id: i}) }}>{{ i }}</a>
    {% endfor %}
{% endblock %}
{% block title %}
    form test
{% endblock %}